[submodule "ffmpeg"]
	path = ffmpeg
	url = https://git.ffmpeg.org/ffmpeg.git
	branch = release/4.4
[submodule "mpv"]
	path = mpv
	url = https://github.com/averne/mpv.git
[submodule "libuam"]
	path = libuam
	url = git@github.com:averne/libuam.git
[submodule "borealis"]
	path = borealis
	url = https://github.com/averne/borealis.git
